body{
margin:0;
font-family:Arial;
background:url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
background-size:cover;
}

#site{
display:none;
}

header{
height:220px;

background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/7c/Iles_Sanguinaires_Ajaccio.jpg");

background-size:cover;

display:flex;

align-items:center;

justify-content:center;

color:white;

font-size:28px;

position:relative;
}

.hamburger{
position:absolute;
left:20px;
font-size:35px;
cursor:pointer;
}

#menu{
position:fixed;

left:-300px;

top:0;

width:260px;

height:100%;

background:white;

padding:20px;

overflow:auto;

transition:0.3s;
}

#menu.open{
left:0;
}

#map{
height:300px;
margin-top:10px;
}

#gallery{
display:flex;
flex-wrap:wrap;
gap:10px;
padding:20px;
}

.media{
position:relative;
}

.media img,
.media video{
width:200px;
border-radius:10px;
}

.delete{
position:absolute;
top:5px;
right:5px;
background:red;
color:white;
border:none;
cursor:pointer;
}

#login{
text-align:center;
margin-top:200px;
}
