body{
margin:0;
font-family:Arial, sans-serif;
background: url("images/fond.jpg") no-repeat center center fixed;
background-size: cover;
}

header{
height:250px;
background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
url("images/header.jpg") no-repeat center center;
background-size: cover;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-size:40px;
text-shadow:2px 2px 10px black;
}

.menu-btn{
position:fixed;
top:15px;
left:15px;
font-size:30px;
cursor:pointer;
z-index:1000;
color:white;
}

#menu{
position:fixed;
left:-250px;
top:0;
width:250px;
height:100%;
background:#2c3e50;
padding:20px;
transition:0.3s;
color:white;
}

#menu a{
display:block;
color:white;
margin:15px 0;
text-decoration:none;
cursor:pointer;
}

#menu.open{
left:0;
}

.page{
display:none;
padding:20px;
}

#mapPage{
display:block;
}

#map{
height:500px;
width:100%;
margin-top:20px;
}

button{
padding:10px 15px;
margin:10px 0;
cursor:pointer;
}
